header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: mediumturquoise;
  color: aliceblue;
}

header nav .user-info {
  display: flex;
}

.user-info h4 {
  margin: 0 1em;
}
